:root {
    --grey-100: #828286;
    --grey-300: #A6A5A9;
    --grey-500: #CDCFD2;
    --grey-700: #C1C1C2;
    --grey-900: #A4A9B9;
    --accent: #0D5ADC;
    --light-blue: #F4F9FC;
    --purple: #3B4157;
    --white: #FFF;
}